.featured-grid-container{
    display: grid;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-template-rows: 500px;
}
.left_container{
    position: relative;
    background: greenyellow;
    overflow: hidden;
}

.right_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 250px);
}

.grid-content{
    width: 100%;
    position: absolute;
    bottom: 1%;
    padding: 2%;
    background: rgba(0, 0, 0, 0.61);
}
.grid-content > .big-title{
    font-size: 2rem;
    color: white;
}
.grid-content > .big-title-description{
    color: rgb(1, 255, 242);
    font-style: italic;
    font-size: 0px;
    transition: all 0.5s ease;
}
.grid-content > .small-title{
    color: white;
    font-size: 1.3rem;
}
.grid-content > .small-title-description{
    color: aqua;
    font-style: italic;
    font-size: 0rem;
    transition: all 0.5s ease;
}
.left_container:hover > .grid-content > .big-title-description{
    font-size: 1.2rem;
}
.left_container img{
        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}
.right_container > .items > img{
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
} 
.left_container:hover > img{
    transform: scale(1.2);
}
.items:hover > img{
    transform: scale(1.2);
}
.items:hover > .grid-content > .small-title-description{
    font-size: 1rem;
}
.items{
    position: relative;
    overflow: hidden;
}

@media (max-width: 610px){
    .featured-grid-container{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: 250px;
    }
    .grid-content > .big-title{
        font-size: 1.5rem;
    }
    
    .right_container{
        grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
        grid-template-rows: repeat(4, 250px);
    }
    .items{
        margin: 1% 0% 0% 0%;
    }
}
