
.top-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  max-height: 1000px;
}

.left-container {
  position: relative;
  height: 100vh;
  width: 55%;
  background-color: #2d3748;
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.right-container {
  position: absolute;
  left: 48%;
  height: 100vh;
  width: 52%;
  background: url("https://i.pinimg.com/originals/ab/f3/12/abf3126883ab6c044179596032c90bae.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(13% 26%, 3% 26%, 13% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 0 100%, 10% 70%, 0 70%);  
}

.intro {
  height: 505px;
  width: 93%;
  background: #1a202c;
  position: relative;
  top: 15%;
  left: 7%;
  color: white;
  border-radius: 1.2rem;
  box-shadow: -10px 35px 35px 0px rgba(0, 0, 0, 0.603);
}
.logo {
  font-family: 'Reggae One', cursive;
  background: rgb(17, 19, 19);
  font-size: 3rem;
  padding: 5px 0px 5px 10px;
}
.logo::first-letter{
  font-size: 5rem;
  color: rgb(0, 225, 255);
}
.desc {
  font-family: 'Stick', sans-serif;
  font-size: 1.2rem;
  padding: 20px;
}
.get-start-words {
  width: 55%;
  font-size: 1.7rem;
  margin-top: 5%;
  margin-left: 2%;
  padding: 10px;
  margin-bottom: 20px;
}
.lets-go-btn {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  background: linear-gradient(57deg, rgb(5, 248, 228), rgb(3, 60, 245));
  padding: 15px 50px;
  margin-left: 2%;
  border-radius: 1rem;
  transition: all 0.5s;
  bottom: 5%;
}
.lets-go-btn:hover {
  box-shadow: -10px 15px 15px 0px rgba(0, 0, 0, 0.555);
  transform: scale(1.1);
}
.nav-links:hover {
  transform: scale(1.1);
  box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.514);
}

.astro-img {
  z-index: 1;
  position: absolute;
  top: 15%;
  right: 2%;
  height: 400px;
  width: 400px;
  animation: astro-anim 2s ease-in-out infinite alternate;
}

@keyframes astro-anim {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 50px);
  }
}
.astro-svg {
  transform: rotate(30deg);
}

.rocket {
  position: absolute;
  top: 10%;
  transform: rotateZ(25deg);
}

.mo-fire {
  width: 150px;
  height: auto;
  position: absolute;
  left:30%;
  top: 65%;
  z-index: 999;
  transform: rotateZ(190deg);
}
.mo-fire svg {
  width: 100%;
  height: auto;
  position: relative
}
.flame {
  animation-name: flamefly;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame3.two{
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.flame-main.one {
  animation-duration: 4s;
  animation-delay: 1s;
}
.flame-main.two {
  animation-duration: 3s;
  animation-delay: 2s;
}
.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameWobble {
  50% {
    transform: scale(1,1.2) translate(0, -30px) rotate(-2deg);
  }
}
@keyframes flamefly {
  0%{
    transform: translate(0) rotate(180deg);
  }
   50% {
     opacity: 1;
  }
  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}
/* tablet styling medias */
@media (max-width: 1100px){
  .astro-img{
    display: none;
  }
  .rocket{
    display: none;
  }
  .social-media{
    display: none;
  }
  .get-start-words{
    font-size: 1.5rem;
    width: 75%;
  }
}

/* mobile styling */
@media (max-width: 600px){
  .left-container{
    width: 100%;
  }
  .right-container{
    width: 0%;
  }
  .intro{
    top: 10%;
    left: 3%;
  }
  .get-start-words{
    font-size: 1.3rem;
    width: 70%;
  }
  .new_blogs{
    padding: 0rem;
  }
  
}