.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease;
}

.modal_shade {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_container {
  max-width: 750px;
  width: 100%;
  height: 90%;
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 6;
}
